<%- include('../partials/head') %>

    <%- include('../partials/nav') %>

        <div class="content">
            <div class="window">
                <h1>UPDATE COMIC</h1>
                <fieldset>
                    <form action="/books/<%= foundBook._id %>?_method=PUT" method="POST" class="form">
                        <div>
                            <label for="image">Image:
                                <input id="image" name="image" type="text" placeholder="Image"
                                    value="<%= foundBook.image %>" /></label>
                        </div>
                        <div>
                            <label for="title">Title:
                                <input id="title" name="title" type="text" placeholder="Title value stored in database"
                                    minlength="1" value="<%= foundBook.title %>" required /></label>
                        </div>
                        <div>
                            <label for="author">Author:
                                <input id="author" name="author" type="text"
                                    placeholder="Author value stored in database" minlength="1"
                                    value="<%= foundBook.author %>" required /></label>
                        </div>
                        <div>
                            <label for="publisher">Publisher:
                                <select id="publisher" name="publisher" value="<%= foundBook.publisher %>" required>
                                    <option>BOOM!Box</option>
                                    <option>DC Comics</option>
                                    <option>Harry N.Abrams</option>
                                    <option>Icon Books</option>
                                    <option>Image Comics</option>
                                    <option>Marvel</option>
                                    <option>Simon & Schuster</option>
                                    <option>Top Shelf Productions</option>
                                    <option>VIZ Media LLC</option>
                                    <option selected>publisher value stored in database</option>
                                </select>
                            </label>
                        </div>
                        <div>
                            <label for="genre">Genre:
                                <input id="genre" name="genre" type="text" placeholder="Genre data stored in database"
                                    minlength="1" value="<%= foundBook.genre %>" required /></label>
                        </div>
                        <div>
                            <label for="number_of_pages">Number of pages:
                                <input id="number_of_pages" type="number" name="number_of_pages" placeholder="255"
                                    minlength="1" maxlength="3
                                    value=" <%=foundBook.number_of_pages %>" required /></label>
                        </div>
                        <div>
                            <label for="starRating">Rating:
                                <input id="starRating" type="number" name="starRating" min="1" max="5" placeholder="5"
                                    value="<%= foundBook.starRating %>" required /></label>
                        </div>
                        <div>
                            <label for="synopsis">Synopsis:
                                <textarea id="synopsis" name="synopsis" placeholder="Synopsis value stored in database"
                                    required><%= foundBook.synopsis %></textarea></label>
                        </div>
                        <br>
                        <div>
                            <input type="submit" value="Submit" class="submit-button"/>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>

        <%- include('../partials/footer') %>